@{
    ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-4">
		<h2>Getting started with SOA</h2>
		<div><div id="msg">Result will be here...</div>
			<input type="text" value="Some text" id="num"/>
			<button id="callService">Call web service</button>
		</div>
		
	</div>
</div>

@section scripts {
	<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/index.js"></script>
}