@{
    ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-4">
		<h2>Getting started with SOA</h2>
		<div>Message will be here...</div><div id="msg">{message}</div>
		<input type="number" value="100" id="num"><input/>
		<button id="callService">Call web service</button>
	</div>
</div>

@section scripts {
	<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/index.js"></script>
}